.scoreBoard {
    border: 1px solid white;
    width: 80%;
    height: auto;
    margin: 50px auto;
    color: white;
}

.header {
    height: 50px;
    text-align: center;
    line-height: 50px;

}

#scoreboard >.teamAway, #scoreboard >.teamHome {
    height: auto;
    width: 100%;

}

#scoreboard > .score {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 2.5em;
}

#scoreboard > .player {
    display: inline-block;
    width: 49%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 2em;
    color: #830909;
}

#scoreboard > .playerName {
    margin: 10px;
}

#scoreboard > .player button {
    width: 25px;
    padding: 7px;
    border-radius: 5px;
    position: relative;
    top: -7px;
}

#scoreboard > .player span {
    border: 0px solid rgba(236, 236, 236, 0.54);
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

#scoreboard > .danger {
    background-color: rgb(194, 41, 0);
}
#scoreboard > .primary{
    background-color: #B2CB5B;
}

#scoreboard > .home, #scoreboard > .away {
    position: absolute;
}
