
.Footer .active{
  font-weight: bold;
  color: #FF165D;
}

.Footer #menu{
  display: flex;
  position: fixed;
  bottom: 0px;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.13);
}
.Footer #menu a{
  flex: 1 1 auto;
  min-height: 50px;
  text-align: center;
  line-height: 50px;
}
