
.tbody{
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  color: white;


}

.historyTable{
  display: inline-block;
  width: 50px;
  height: 30px;
  text-align: center;
  color:White;
}
.historyTable:nth-child(1){
  width: 70px;
  text-align: left;
}

tr:nth-child(odd){
  background-color: #3ec1d3;
}

td:nth-child(1){

}
